node_modules
.vscode-test/
*.vsix
package-lock.json
.cache
test/cppworkspace/test/.vscode
test/cppworkspace/test/build
test/cppworkspace/thread/.vscode/
test/cppworkspace/thread/build
test/cppworkspace/simple_input/.vscode
test/cppworkspace/simple_input/build
test/cppworkspace/attach/build
test/cppworkspace/attach/.vscode
.vscode/settings.json
__pycache__


update.log
time.log
debug.log
performance_time.log
error.log
exception-logger.log