node_modules
.vscode-test/
*.vsix
package-lock.json
.cache
test/cppworkspace/test/.vscode
test/cppworkspace/test/build
test/cppworkspace/test/testapp
test/cppworkspace/thread/.vscode/
test/cppworkspace/thread/build
